<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
                {% block body1 %}
                    <li class="active"><a href="{%url 'bd'  %}">DataBase</a></li>
                    <li><a href="{%url 'orders_url'  %}">Orders</a></li>
                    <li ><a href="{%url 'login'  %}">Login</a></li>
                    <li ><a href="{%url 'registration'  %}">registration</a></li>
                    <li><a href="{%url 'admin:index'  %}"><i class="fa fa-bomb fa-invert" aria-hidden="true"></i></a></li>
                {% endblock %}
{% block body2 %}
<h1>Добро пожаловать!</h1>
    <h2>Выберите категорию:</h2>
    <br>
     <div class="container">
        <div class = "row centered">
            <a class="navbar-brand" href="{%url 'tovar'  %}">Просмотр товаров</a><br>
        </div>
         <div class = "row centered">
           <a class="navbar-brand" href="{%url 'shop'  %}">Просмотр магазинов</a><br>
         </div>
         <div class = "row centered">
            <a class="navbar-brand" href="{%url 'workers'  %}">Просмотр работников</a><br>
        </div>
     </div>
{% endblock %}
